html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    overflow-x: hidden; }
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
    
}
#respmeni{
    display: none;
}
.naslov{
    background-color: #c2c2c2;
    padding: 1%;
    opacity: 70%;
    border-radius: 5%;
    
}
.naslovTure{
    font-size: 27px;
}

.stylebtn{
    box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
#backToTop{
    position: fixed;
    bottom:20px;
    right:10px;
}
#backToTop i{
    font-size:45px;
}
.wraper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8%;
}
#hero{
    width:100%;
    height: 700px;
    background-image:url("../img/hero.jpg");
   
}
.margina{
    margin: 1.5% 0;
}
#logo{
    font-size:20px;
    width:35%;
    padding: 2%;
    
    
}
#logo a{
    color: #514128;
}
#meni{
    margin-right: 5%;
}

#meni ul{
	list-style-type:none;
	margin-top:15%;
}
#meni ul li{
	display:inline;
	
	
	
	
}

.toTop{
    border:3px solid white !important;
}

#meni ul li a{
	padding:10px;
	font-size:23px;
	color:#514128;

}
#promotxt{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
#promotxt h1{
   
   font-size: 35px;
}
#promotxt a{
    padding: 1%;
    margin-top:7%;
    color:#000;
    background-color: #c2c2c2;
    border: 4px solid #fff;
    opacity: 80%;
    font-size: 25px;
    border-radius: 5%;
 }

 #ture{
     width:100%;
     
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }
 .tura{
     margin: 10% 2%;
     height: 200px;
     width:25%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .tura p{
     font-size: 18px;
 }
 #ture img{
     width:100%;
     opacity: 0.75;
     height: 100%;
 }
 .opis{
     text-align: center;
 }

#forma{
    width: 100%;
    padding: 2%;
    display: flex;
    margin: 10% 0 5% 0;
  
   
}
input{
    margin: 0 0.8%;
    padding: 0.5% 1%;
    font-size:15px;
    color:#7d5d3b;
    border-radius: 3%;
}
select{
    padding: 0.6% 1%;
    font-size:15px;
    color:#7d5d3b;
    border-radius: 3%;
}
form{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
   
}
#posalji{
    padding: 0.5% 1%;
    border-radius: 3%;
    
}
.greska{
    border:2px solid red;
}

#autor{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#autor img{
    width:300px;
}


footer{
    display: flex;
    background-color:#7d5d3b;
    width: 100%;
    color:#fff;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:5%;
    padding: 3% 0;
}
footer h4{
    font-size: 20px;
    width:100%;
    text-align: center;
    padding-bottom: 1%;
}
h3{
    font-size: 40px;
}
.marginaA{
    margin:0.5% 0 ;
}
.staraCena{
    text-decoration: line-through;
    
}
footer a{
    color:#fff;
    font-size: 20px;
}
.responsive {
    width: 100%;
    height: auto;
  }

.burger{
    font-size: 50px;
    margin:40% 10% 0 0;
}
#mobileMeni{
    display: none;
    
    padding: 10%;
}
#meniResp{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#meniResp ul li a{
    padding-bottom: 5%;
}

@media only screen and (max-width: 981px){
    #respmeni{
        display: block;
    }
    #pcmeni{
        display: none;
    }
    #logo h1{
        font-size:25px;
        text-align: center;
    }
    
    .tura{
        width: 40%;
        padding-bottom: 15%;;
    }
    }
    
@media only screen and (max-width: 981px){

    
    .tura{
        width:40%;
        
    }
    }
 @media only screen and (max-width: 944px){

    
        .tura{
            width:40%;
            padding-bottom: 20%;
        }
        }
@media only screen and (max-width: 753px){


    .tura{
        width:50%;
        padding-bottom: 20%;
    }
    }
@media only screen and (max-width: 688px){


    .tura{
        width:50%;
        padding-bottom: 25%;
    }
    }
@media only screen and (max-width: 618px){

    #backToTop i{
        font-size:35px;
    }
    .tura{
        width:50%;
        padding-bottom: 35%;
    }
    }
@media only screen and (max-width: 525px){


    .tura{
        width:50%;
        padding-bottom: 45%;
    }
    }
@media only screen and (max-width: 472px){


    .tura{
        width:50%;
        padding-bottom: 55%;
    }
    }


@media only screen and (max-width: 425px){


    .tura{
        width:50%;
        padding-bottom: 65%;
    }
    }